@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  }
  @keyframes spin3 {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(450deg);
    }
  }
  @keyframes spin4 {
    from {
      transform: rotate(135deg);
    }
    to {
      transform: rotate(495deg);
    }
  }
  @keyframes spin5 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}
@keyframes spin6 {
  from {
    transform: rotate(225deg);
  }
  to {
    transform: rotate(585deg);
  }
}
@keyframes spin7 {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(630deg);
  }
}
@keyframes spin8 {
  from {
    transform: rotate(315deg);
  }
  to {
    transform: rotate(675deg);
  }
}


.center-text2 {
    overflow: hidden;
    visibility: hidden;
    margin-top: 300px;
    margin-bottom: 350px;
   
  }

  .center-text {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    z-index: 1;
}

.surrounding-image img {
    position: absolute;
    width: 150px;
    transform: translate(-50%, -50%);
    height: 150px;
    border-radius: 50%;
    top: 850px;
    left: 50%;
    transform-origin: 0 -150px;
    z-index: 0;
}

@media (max-width: 900px) {
    .center-text2 {
        margin-bottom: 150px;
    }
    .center-text {
        padding: 1px;
        top: 595px;
        font-size: 16px;
        width: 190px;
        height: 190px;
    }

    .surrounding-image img {
        top: 680px;
        width: 100px;
        height: 100px;
        transform-origin: 0 -85px;
    }
}


  .surrounding-image:nth-child(8) img { animation: spin 30s linear infinite;}
  .surrounding-image:nth-child(9) img { animation: spin2 30s linear infinite;}
  .surrounding-image:nth-child(10) img { animation: spin3 30s linear infinite;}
  .surrounding-image:nth-child(11) img { animation: spin4 30s linear infinite;}
  .surrounding-image:nth-child(12) img { animation: spin5 30s linear infinite;}
  .surrounding-image:nth-child(13) img { animation: spin6 30s linear infinite;}
  .surrounding-image:nth-child(14) img { animation: spin7 30s linear infinite;}
  .surrounding-image:nth-child(15) img { animation: spin8 30s linear infinite;}

        h2{
            text-align: center;
        }
